[submodule "components/mruby_component/mruby"]
	path = components/mruby_component/mruby
	url = https://github.com/mruby/mruby.git
[submodule "components/mruby_component/esp_littlefs"]
	path = components/mruby_component/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
